header {
  position: absolute;
  right: 0;
  height: inherit;
  min-width: 300px;
  font-size: 13px;
}

body {
  font-family: "Arial", Helvetica, sans-serif;
}

header a {
  padding-left: 5px;
}

a.icons {
  vertical-align: -webkit-baseline-middle;
}

.search input{
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  width: 500px;
  margin-left: -60px;

}

.search {
  padding-bottom: 10px;
}

.main {
  padding-top: 150px;
  padding-left: 750px;
  padding-right: 800px;
  padding-bottom: 50px;
}

.button {
  size: 40px 80px;
  font-size: 12px;
  margin-left: 90px;
}

h4 {
  font-weight: normal;
  font-size: 12px;
  margin-left: 70px;
}

h5 {
  font-weight: normal;
  padding-left: 15px;
  font-size: 15px;
}

footer {
  position: fixed;
  bottom: 40px;
}

.left-links {
  position: fixed;
  left: 10px;
}

.right-links {
  position: fixed;
  right: 10px;
}

.left-links a, .right-links a {
  padding-left: 10px;
  font-size: 13px;
}
=======
header {
  position: absolute;
  right: 0;
  height: inherit;
  min-width: 300px;
  font-size: 13px;
}

body {
  font-family: "Arial", Helvetica, sans-serif;
}

header a {
  padding-left: 5px;
}

a.icons {
  vertical-align: -webkit-baseline-middle;
}

.search input{
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  width: 500px;
  margin-left: -60px;

}

.search {
  padding-bottom: 10px;
}

.main {
  padding-top: 150px;
  padding-left: 750px;
  padding-right: 800px;
  padding-bottom: 50px;
}

.button {
  size: 40px 80px;
  font-size: 12px;
  margin-left: 90px;
}

h4 {
  font-weight: normal;
  font-size: 12px;
  margin-left: 70px;
}

h5 {
  font-weight: normal;
  padding-left: 15px;
  font-size: 15px;
}

footer {
  position: fixed;
  bottom: 40px;
}

.left-links {
  position: fixed;
  left: 10px;
}

.right-links {
  position: fixed;
  right: 10px;
}

.left-links a, .right-links a {
  padding-left: 10px;
  font-size: 13px;
}
